<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156565837926-erakhh4ilb155fin280stjqgv2e75q0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156565837926-erakhh4ilb155fin280stjqgv2e75q0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156565837926-1q76pceothgc3pjnq25akm1jg75o110h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXoWeDQ3eJZlDgoDVsUDr-x9yi_YftJKY</string>
	<key>GCM_SENDER_ID</key>
	<string>156565837926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>okok.adex.dev</string>
	<key>PROJECT_ID</key>
	<string>woopeople-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>woopeople-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:156565837926:ios:3f4232d714b3d6be9775a7</string>
	<key>DATABASE_URL</key>
	<string>https://woopeople-dev-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
